.todo {
    width: 100%;
    float: left;
    list-style: none;
}

li {
    position: relative;
    background-color: $color-white;
    border-radius: 5px;
    min-height: 50px;
    box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.15);
    padding: 14px 100px 14px 14px;
    margin: 0 0 10px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: #444;

    &:last-child {
        margin-bottom: 0;
    }
}

.noFill {
    fill: none;
}

.li-buttons {
    width: 100px;
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    height: 50px;

    button {
        cursor: pointer;
        border: 0;
        width: 50px;
        appearance: none;
        outline: none;
        background: none;
        box-shadow: none;
        position: relative;

        &:last-of-type::before {
            content: '';
            background: $color-penache;
            height: 30px;
            width: 1px;
            position: absolute;
            top: 10px;
            left: 0;
        }

        svg {
            width: 22px;
            height: 22px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -11px 0 0 -11px;

            .fill {
                transition: 0.2s ease;
            }
        }
    }
}

.complete svg {
    border-radius: 11px;
    border: 1.4px solid $color-jungle-green;
    transition: background 0.2s ease;
}

.remove svg .fill {
    fill: $color-tiara;
}

.remove:hover svg .fill {
    fill: $color-mandy;
}

.complete svg .fill {
    fill: $color-jungle-green;
}

.todo#completed {
    padding: 60px 0 0 0;
    position: relative;

    .complete svg {
        background: $color-jungle-green;
        border: 0;

        .fill {
            fill: $color-white;
        }
    }

    &:not(:empty):before {
        content: '';
        width: 150px;
        height: 1px;
        background: $color-nebula;
        position: absolute;
        top: 30px;
        left: 50%;
        margin: 0 0 0 -75px;
    }
}

.todo:not(#completed) {
    .complete:hover svg {
        background: rgba(37, 185, 154, 0.66);

        .fill {
            fill: $color-white;
        }
    }
}

%todo-content {
    display: block;
    text-align: center;
    font-size: 14px;
}

.todo#todo:empty:after {
    content: 'Nu ai de completat niciun task!';
    margin-top: 15px;
    color: #aaa;
    @extend %todo-content;
}

.todo#todo:not(:empty):before {
    content: 'Activitati necompletate';
    @extend %todo-content;
    color: #aaa;
    margin-bottom: 1rem;
    margin-top: 15px;
}

.todo#completed:not(:empty) {
    padding-top: 5rem;
}

.todo#completed:not(:empty):after {
    content: 'Activitati completate';
    @extend %todo-content;
    color: $color-jungle-green;
    display: block;
    position: absolute;
    top: 3rem;
    width: 100%;
}

.time {
    position: fixed;
    color: red;
    top: 6rem;
    left: 0;
    font-size: 2rem;
    z-index: 10;
}