doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title To do app
        link(rel="stylesheet", href="style.css")
    body
        include _component/header/header
        include _component/lists/lists
        script
            include _component/layout/layout.js